name: 'Build Android app'

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Java
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Run Yarn Install
        run: |
          cd ./
          npm i -g corepack
          yarn install
      - name: Build application
        run: |
          cd ./android
          ./gradlew assembleRelease
          ls -la
          ls -la android/app/build
      - name: Upload application
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: ./rnb/app/build/outputs/apk/release/app-release.apk
          retention-days: 30
